# {{ ansible_managed }}

[{{ webhost }}.{{ webdomain }} app]
    comment = Local App Server - /var/www/{{ app_name }}
    path = /var/www/{{ app_name }}
    browsable = yes
    guest ok = yes
    follow symlinks = yes
    read only = no
    create mask = 0775
    force user = {{ app_env['user'] }}
    force group = {{ app_env['group'] }}
#[{{ webhost }}.{{ webdomain }} app] End

[{{ webhost }}.{{ webdomain }} vagrant home]
    comment = Vagrant Home - /home/vagrant
    path = /home/vagrant
    browsable = yes
    guest ok = yes
    follow symlinks = yes
    read only = no
    create mask = 0775
    force user = vagrant
    force group = vagrant
#[{{ webhost }}.{{ webdomain }} vagrant home] End
