# {{ ansible_managed }}

[app]
    comment = Local App Server - /var/www/{{ app_name }}
    path = /var/www/{{ app_name }}
    browsable = yes
    guest ok = yes
    follow symlinks = yes
    read only = no
    create mask = 0775
    force user = {{ app_user }}
    force group = {{ app_group }}
#[app] End

[home]
    comment = Vagrant Home - /home/vagrant
    path = /home/vagrant
    browsable = yes
    guest ok = yes
    follow symlinks = yes
    read only = no
    create mask = 0775
    force user = vagrant
    force group = vagrant
#[home] End

[roles]
    comment = Local App Server - Ansible roles
    path = /etc/ansible/roles
    browsable = yes
    guest ok = yes
    follow symlinks = yes
    read only = no
    create mask = 0775
    force user = root
    force group = root
#[roles] End
